body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */
.f-info {
  text-align: center;
  padding: 1.5rem 0;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.f-info-socials {
  order: 1;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.f-info-brand {
  order: 2;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.f-info-links {
  order: 3;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials i {
  font-size: 1.5rem;
  color: #333;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Hover effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* Buttons */
.add-btn,
.edit-btn1
.btn.btn-dark {
  background-color: #fe424d !important;
  border: none !important;
  color: white;
}
.edit-btn{
 background-color: #fe424d !important;
  border: none !important;
  color: white;
  margin-bottom: 20px;
}

/* Show Page */
.show-img {
  height: 30vh;
  object-fit: cover;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2rem;
}

/* Map */
#map { 
  height: 400px;
  width: 80vh;
 }